

.m-content {
   padding-bottom:24px;
   padding-left:24px;
   padding-right:24px;
}

.m-dialog .m-dialog-content {
    position: absolute;
    width: 800px;
    height: 690px;
    z-index: 2;
    border-radius: 4px;
    top: calc(50% - 340px);
    left: calc(50% - 400px);
    background-color: #ffffff;
}

.dialog-header .dialog-header-title {
    font-weight: bold;
    font-size: 20px;
    color: #000000;
    font-family: GoogleSans-Regular;
    margin-bottom: 24px;
}

.dialog-header .dialog-header-btn button {
    position: absolute;
    right: 0;
    top: 0;
    width: 24px;
    height: 24px;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: #ffffff;
    border-radius: 4px;
    background-image: url('/content/icon/x.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.dialog-header .dialog-header-btn:hover button {
    background-color: #E9EBEE;
}

.m-content_top {
    display: flex;
}

.dialog-img {
    width: 200px;
    height: 250px;
}

    .dialog-img img {
        width: 200px;
        height: 200px;
        border-radius: 100px;
        border: 1px solid #E9EBEE;
    }

.m-row, .m-row1, .m-row2, .m-row3 {
    margin-top: 16px;
    margin-left: 16px;
}

    .m-row .m-row2, p span {
        color: #F65454;
    }

.m-content_center {
    display: flex;
}

.m-row1 input {
    width: 405px !important;
}

.m-row3 input {
    width: 660px !important;
}

.m-dialog_footer {
    display: flex;
    height: 60px;
    background-color: #E9EBEE;
    width: 100%;
}

    .m-dialog_footer .footer_content {
        position: absolute;
        right: 8px;
    }

        .m-dialog_footer .footer_content button {
            height: 36px;
            margin-top: 12px;
            margin-bottom: 12px;
            margin-right: 16px;
            width: 100px;
        }

.m-delete {
    border: none;
    cursor: pointer;
    outline: none;
    transform: translateY(-2px);
    background-color: #E9EBEE;
    border-radius: 4px;
}
    .m-delete:hover {
        background-color: #bbbbbb;
    }
    .m-add {
        display: inline-flex !important;
    }

/* css cho jquery dialog*/

.ui-widget {
    font-family: GoogleSans-Regular;
    font-size: 13px;
}

.ui-widget-content {
    background: #ffffff;
    /*Change the dialog border color here*/
    color: #000000;
}

.ui-dialog {
    left: 0;
    outline: 0 none;
    padding: 0 !important;
    position: absolute;
    top: 0;
}

#dialog1 p {
    padding: 0;
    margin: 0;
}

.ui-dialog .ui-dialog-content {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    overflow: auto;
    position: relative;
    padding: 0 !important;
}

.ui-widget-header {
    /*Change the Header color here*/
    background: #fff;
    border: 0;
    color: #000000;
}

.ui-dialog .ui-dialog-titlebar {
    margin: 24px;
    font-weight: bold;
    position: relative;
    font-size: 15px;
}