.filter-bar {
    width: 100%;
    display: flex;
    align-items: center;
    height: 40px;
}
    /*left*/
    .filter-bar .filter-left {
        padding-left:16px;
    }
    /*end right*/
   
    /*right*/
    .filter-bar .filter-right {
        position: absolute;
        right: 16px;
    }
    /*end left*/
